Label Encoding
modify categories as number when categories has an order

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [5]:
data = {
    'Item':['Shirt','Jeans','Dress','T-shirt','Skirt'],
    'Color':['Blue','Black','Red','White','Yellow'],
    'Size':['Medium','Large','Small','Medium','Large']
}

df = pd.DataFrame(data)

In [6]:
encoder = LabelEncoder()

In [8]:
# here need to change the categorical values to numerical values
df['Encoded_Size'] = encoder.fit_transform(data['Size'])
df

      Item   Color    Size  Encoded_Size
0    Shirt    Blue  Medium             1
1    Jeans   Black   Large             0
2    Dress     Red   Small             2
3  T-shirt   White  Medium             1
4    Skirt  Yellow   Large             0

One Hot Encoding
categorical values into numerical values
if there is no categorical orders

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [58]:
data = {
    'Fruit':['Apple','Banana','Orange','Grape','Lemon'],
    'Color':['Red','Yellow','Orange','Purple','Black']}
df = pd.DataFrame(data)
hotEncoder = OneHotEncoder()

In [59]:
encoded_colors = hotEncoder.fit_transform(df[['Color']]).toarray()
encoded_colors

array([[0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0.]])

In [62]:
encoded_df = pd.DataFrame(encoded_colors,columns=hotEncoder.get_feature_names_out(['Color']))
encoded_df

   Color_Black  Color_Orange  Color_Purple  Color_Red  Color_Yellow
0          0.0           0.0           0.0        1.0           0.0
1          0.0           0.0           0.0        0.0           1.0
2          0.0           1.0           0.0        0.0           0.0
3          0.0           0.0           1.0        0.0           0.0
4          1.0           0.0           0.0        0.0           0.0

In [65]:
df_encoded = pd.concat([df,encoded_df],axis=1)
df_encoded

,Fruit,Color,Color_Black,Color_Orange,Color_Purple,Color_Red,Color_Yellow
0,Apple,Red,0.0,0.0,0.0,1.0,0.0
1,Banana,Yellow,0.0,0.0,0.0,0.0,1.0
2,Orange,Orange,0.0,1.0,0.0,0.0,0.0
3,Grape,Purple,0.0,0.0,1.0,0.0,0.0
4,Lemon,Black,1.0,0.0,0.0,0.0,0.0

Binary Encoding

In [ ]:
pip install category_encoders

In [68]:
from category_encoders import BinaryEncoder

In [70]:
data = {
    'Device':['Laptop','TV','Smartphone','Microwave','Tablet'],
    'Portable':['Yes','No','Yes','No','Yes']}
df = pd.DataFrame(data)
binaryEncoder = BinaryEncoder(cols=['Portable'])

In [71]:
df_encoded = binaryEncoder.fit_transform(df)
df_encoded

       Device  Portable_0  Portable_1
0      Laptop           0           1
1          TV           1           0
2  Smartphone           0           1
3   Microwave           1           0
4      Tablet           0           1